.center{
	margin-top: 10px;
}

.divide{
	margin: 70px 70px;
}

.kiri{
	margin-left: 100px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background-color: #ccc;
}

.navbar-inverse .navbar-toggle{
	border-color: #999;
}