html{
	margin:0px;
	padding: 0px;
}
body{
	font-family: 'Comfortaa', sans-serif;
	font-weight: 400;
}

p{
	font-size: 18px;
	/*line-height: 20px;*/
}

ul{
	list-style: none;
}

.center{
	margin-top: 10px;
}

.divide{
	margin: 70px 70px;
}

.space20{
	height: 20px;
	width: 100%;
}

.space50{
	height: 50px;
}

.space100{
	height: 100px;
}


.kiri{
	margin-left: 100px;
}

.navbar{
	margin-bottom: 0px;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background-color: #ccc;
}

.navbar-inverse .navbar-toggle{
	border-color: #999;
}

.section-welcome{
	padding-top: 13%;
	/*padding-bottom: 13%;*/
	background: #c5282a;
	color: #fff;
	font-weight: 100;
}

.section-welcome h3{
	font-size: 62px;
}

@media only screen and (max-width: 500px) {
    .section-welcome h3{
		font-size: 42px;
	}
}
.section-welcome h1, .section-welcome h3{
	color: #fff;
	font-family: 'Cabin Condensed', sans-serif;
}

.section-top{
	padding: 0px;
	margin:0px;
	width: 100%;
	/*height: 100vh;*/
	/*background: url('../images/top.jpeg');*/
	background: #fff;
	color: #414140;
	/*background-repeat: no-repeat;*/
	/*background-position: center center;*/
	/*background-size: cover;*/
	/*background-attachment: fixed;*/
}

.section-top h1{
	font-size: 28px;
}
.section-top p{
	font-size: 14px;
}

.section-top .img-voela{
	padding: 50px 15px;
}

.section-top .intro{
	text-align: left;
	padding: 0px 15px;
}

@media only screen and (max-width: 500px) {
    .section-top .intro{
		text-align: center;
	}
}
.google-play{
	width: 150px;
}

.section-food{
	margin-top: -13.5%;
	margin-bottom: -13.5%;
}
.section-food .img-food-big{
	width: 50%;
	height: 50%;
}

@media only screen and (max-width: 500px) {
    .section-top .wrapper-black .img-voela {
       width: 90%;
    }
}

@media only screen and (max-width: 800px) {
    .section-top .wrapper-black .img-voela {
       width: 70%;
    }
}

.section-top .wrapper-black .btn-download{
	margin-top: 30px;
	background-color: #c62828;
	font: 700 20px/20px "Cabin Condensed", sans-serif;
	color: #fff;
	padding: 27px 27px 24px;
}

.section-subscribe{
	background: #4d4d4d;
}

.section-features{
background-color: #fff; /*Default bg, similar to the background's base color*/
   background-image: url("../images/cumi.png");
   background-size: 30%;
   background-position: right bottom; /*Positioning*/
   background-repeat: no-repeat; /*Prevent showing multiple background images*/
	/*background: #fff;*/
	font-size: 14px;
	/*color: #fff;*/
	min-height:100vh;
}

.section-features img{
	padding: 0px 0px 10px 10px;
	width: 90%;
}
.section-features h3{
	color: #c5282a;
	font-size: 14px;
}

.section-features .feature{
	min-height: 150px;
}

@media only screen and (max-width: 500px) {
    .section-features .feature{
		text-align: center;
		min-height: 350px;
	}
}

.section-features p{
	font-size: 12px;
}
.section-features .line{
	border-right: 2px #c5282a solid;
}

.section-download{
	background-color: #f8f8f8;
	color: #414141;
}

.section-download h3{
	font-family: 'Cabin Condensed', sans-serif;
	font-size: 90px;
	color: #414141;
}

.btn-download{
	margin-top: 30px;
	background-color: #c62828;
	font: 700 20px/20px "Cabin Condensed", sans-serif;
	color: #fff;
	padding: 27px 27px 24px;
}

.btn-subscribe{
	background-color: #c62828;
	font: 700 20px/20px "Cabin Condensed", sans-serif;
	color: #fff;
	padding: 20px 20px 20px;
}

.section-partner{
	background-color: #fff;
	/*color: #fff;*/
}

.section-partner h3{
	font-family: 'Cabin Condensed', sans-serif;
	font-size: 62px;
	color: #414141;
}

.section-partner p{
	color:#4d4d4d;
}

.section-social{
	background-color: #f8f8f8;
	color: #353535;
}

.section-social{
	
	/*margin: auto;*/
}

.social{
	width: 25%;
	margin:auto;
}

@media only screen and (max-width: 800px) {
    .social{
		margin:auto;
	}
}

@media only screen and (max-width: 500px) {
    .social{
		width: 60%;
		margin:auto;
	}
}



.icons{
	/*float: left;*/
}

.icons li {
  background: #c5282a;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 73px;
  height: 73px; 
  float: left;
}
.icons li a {
    display: block;
    height: 100%;
    text-align: center; 
	color: #fff;
	font-size: 26px;
}
.icons li a:before {
      line-height: 73px; 
}
.icons li + li {
    margin-left: 2px;
    margin-top: 0 !important; 
}
  @media (max-width: 1199px) {
    .icons li {
      width: 45px;
      height: 45px; 
  	}
    .icons li a:before {
        line-height: 45px; 
    } 
}


.section-footer{
	background: #363636;
	color: #fff;
}
.section-footer a{
	color: #fff;
}